@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  @apply text-5xl;
}
h2 {
  @apply text-2xl;
}
h3 {
  @apply text-xl;
}

input {
  @apply px-2 py-1 m-1 border rounded;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
}

.link {
  @apply cursor-pointer;
}
.link:hover {
  @apply underline;
}

.grid {
  display: grid;
}

.btn {
  @apply bg-gray-300 text-gray-800 py-2 px-4;
}
.btn.primary {
  @apply bg-blue-500 text-white;
}
.btn.danger {
  @apply bg-red-500 text-white;
}

.btn:hover:not(:disabled) {
  @apply bg-gray-400;
}
.btn.primary:hover:not(:disabled) {
  @apply bg-blue-600;
}
.btn.danger:hover:not(:disabled) {
  @apply bg-red-600;
}

.btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.btn:focus {
  outline: none;
}
